USE [master]
GO
/****** Object:  Database [SHOPVATLIEU]    Script Date: 12/16/2019 13:36:16 ******/
CREATE DATABASE [SHOPVATLIEU] ON  PRIMARY 
( NAME = N'SHOPVATLIEU', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\SHOPVATLIEU.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SHOPVATLIEU_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\SHOPVATLIEU_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SHOPVATLIEU].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SHOPVATLIEU]
GO
/****** Object:  Table [dbo].[DanhMucSP]    Script Date: 12/16/2019 13:36:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMucSP](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[HoatDong] [bit] NULL,
 CONSTRAINT [PK_DanhMucSP] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 12/16/2019 13:36:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SanPham](
	[ID] [bigint] NOT NULL,
	[TenSP] [nvarchar](100) NULL,
	[Gia] [float] NULL,
	[DVT] [varchar](50) NULL,
	[HinhAnh] [varchar](200) NULL,
	[Mota] [nvarchar](500) NULL,
	[GiaKhuyenMai] [float] NULL,
	[SoLuong] [bigint] NULL,
	[LoaiSP] [nvarchar](100) NULL,
	[HoatDong] [bit] NULL,
	[SPNoiBat] [bit] NULL,
	[SPBanChay] [bit] NULL,
 CONSTRAINT [PK_SanPham] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 12/16/2019 13:36:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](50) NULL,
	[Password] [varchar](50) NULL,
	[TenND] [nvarchar](50) NULL,
	[Email] [varchar](100) NULL,
	[DiaChi] [nvarchar](200) NULL,
	[SDT] [char](11) NULL,
	[IDGroup] [int] NULL,
	[HoatDong] [bit] NULL,
 CONSTRAINT [PK_NguoiDung] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LienHe]    Script Date: 12/16/2019 13:36:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LienHe](
	[ID] [bigint] NOT NULL,
	[TenCTy] [nvarchar](250) NULL,
	[Mota] [nvarchar](500) NULL,
	[DiaChi] [nvarchar](250) NULL,
	[Tel] [varchar](50) NULL,
	[Fax] [varchar](50) NULL,
	[HotLine] [varchar](50) NULL,
	[Email] [varchar](150) NULL,
 CONSTRAINT [PK_LienHe] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 12/16/2019 13:36:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KhachHang](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](50) NULL,
	[Password] [varchar](50) NULL,
	[TenKH] [nvarchar](100) NULL,
	[GhiChu] [nvarchar](200) NULL,
	[Email] [varchar](100) NULL,
	[SDT] [varchar](50) NULL,
	[DiaChi] [nvarchar](250) NULL,
	[TongTien] [float] NULL,
	[DaXuLy] [bit] NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DonHang]    Script Date: 12/16/2019 13:36:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHang](
	[ID] [bigint] NOT NULL,
	[MaKH] [bigint] NULL,
	[ThanhTien] [float] NULL,
	[TrangThai] [bit] NULL,
	[NgayLap] [datetime] NULL,
	[NgayGiao] [datetime] NULL,
 CONSTRAINT [PK_DonHang] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietDonHang]    Script Date: 12/16/2019 13:36:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDonHang](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[SoLuong] [int] NULL,
	[DonGia] [float] NULL,
	[ThanhTien] [float] NULL,
	[MaSP] [bigint] NULL,
	[MaDH] [bigint] NULL,
 CONSTRAINT [PK_ChiTietGioHang] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Default [DF_DanhMucSP_HoatDong]    Script Date: 12/16/2019 13:36:16 ******/
ALTER TABLE [dbo].[DanhMucSP] ADD  CONSTRAINT [DF_DanhMucSP_HoatDong]  DEFAULT ((1)) FOR [HoatDong]
GO
/****** Object:  Default [DF_SanPham_GiaKhuyenMai]    Script Date: 12/16/2019 13:36:16 ******/
ALTER TABLE [dbo].[SanPham] ADD  CONSTRAINT [DF_SanPham_GiaKhuyenMai]  DEFAULT ((0)) FOR [GiaKhuyenMai]
GO
/****** Object:  Default [DF_SanPham_HoatDong]    Script Date: 12/16/2019 13:36:16 ******/
ALTER TABLE [dbo].[SanPham] ADD  CONSTRAINT [DF_SanPham_HoatDong]  DEFAULT ((1)) FOR [HoatDong]
GO
/****** Object:  Default [DF_SanPham_SPNoiBat]    Script Date: 12/16/2019 13:36:16 ******/
ALTER TABLE [dbo].[SanPham] ADD  CONSTRAINT [DF_SanPham_SPNoiBat]  DEFAULT ((0)) FOR [SPNoiBat]
GO
/****** Object:  Default [DF_SanPham_SPBanChay]    Script Date: 12/16/2019 13:36:16 ******/
ALTER TABLE [dbo].[SanPham] ADD  CONSTRAINT [DF_SanPham_SPBanChay]  DEFAULT ((0)) FOR [SPBanChay]
GO
/****** Object:  Default [DF_NguoiDung_IDGroup]    Script Date: 12/16/2019 13:36:16 ******/
ALTER TABLE [dbo].[NguoiDung] ADD  CONSTRAINT [DF_NguoiDung_IDGroup]  DEFAULT ((0)) FOR [IDGroup]
GO
/****** Object:  Default [DF_NguoiDung_HoatDong]    Script Date: 12/16/2019 13:36:16 ******/
ALTER TABLE [dbo].[NguoiDung] ADD  CONSTRAINT [DF_NguoiDung_HoatDong]  DEFAULT ((1)) FOR [HoatDong]
GO
/****** Object:  Default [DF_DonHang_TrangThai]    Script Date: 12/16/2019 13:36:16 ******/
ALTER TABLE [dbo].[DonHang] ADD  CONSTRAINT [DF_DonHang_TrangThai]  DEFAULT ((0)) FOR [TrangThai]
GO
/****** Object:  Default [DF_DonHang_NgayLap]    Script Date: 12/16/2019 13:36:16 ******/
ALTER TABLE [dbo].[DonHang] ADD  CONSTRAINT [DF_DonHang_NgayLap]  DEFAULT (getdate()) FOR [NgayLap]
GO
/****** Object:  ForeignKey [FK_DonHang_KhachHang]    Script Date: 12/16/2019 13:36:16 ******/
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD  CONSTRAINT [FK_DonHang_KhachHang] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([ID])
GO
ALTER TABLE [dbo].[DonHang] CHECK CONSTRAINT [FK_DonHang_KhachHang]
GO
/****** Object:  ForeignKey [FK_ChiTietDonHang_DonHang]    Script Date: 12/16/2019 13:36:16 ******/
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDonHang_DonHang] FOREIGN KEY([MaDH])
REFERENCES [dbo].[DonHang] ([ID])
GO
ALTER TABLE [dbo].[ChiTietDonHang] CHECK CONSTRAINT [FK_ChiTietDonHang_DonHang]
GO
/****** Object:  ForeignKey [FK_ChiTietGioHang_SanPham]    Script Date: 12/16/2019 13:36:16 ******/
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietGioHang_SanPham] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([ID])
GO
ALTER TABLE [dbo].[ChiTietDonHang] CHECK CONSTRAINT [FK_ChiTietGioHang_SanPham]
GO
